In [88]:
import pandas as pd
import numpy as np

In [89]:
#col=["Age","BMI","Waist","Total_Record","Label","With_Includes"]

In [141]:
#Original_df=pd.DataFrame(columns=col)
#Original_df=Original_df.append({"Age":18,"BMI":"BMI<18","Waist":"Waist<0","Total_Record":0,"Label":"N","With_Includes":"None"},ignore_index=True,)
#Original_df

  Age     BMI    Waist Total_Record With_Includes Label
0  18  BMI<18  Waist<0            0          None     N

In [142]:
#Original_df.to_csv("Data Information.csv", sep=',', index=False)

In [143]:
#df=pd.read_csv("Data Information.csv",sep=",")
#df#
#df

   Age     BMI    Waist  Total_Record With_Includes Label
0   18  BMI<18  Waist<0             0          None     N

In [148]:
Data={"Age":18,"BMI":"BMI<18","Waist":"Waist<8<12","Total_Record":0,"Label":"0","With_Includes":"None"}

In [149]:
df=df.append(Data,ignore_index=True)
df

   Age     BMI       Waist  Total_Record With_Includes Label
0   18  BMI<18     Waist<0             0          None     N
1   18  BMI<18   Waist<0<3            20          None     N
2   18  BMI<18   Waist<3<8            20          None     M
3   18  BMI<18  Waist<8<12             0          None     0

In [150]:
df.to_csv("Data Information.csv", sep=',', index=False)
df=pd.read_csv("Data Information.csv",sep=",")
df

   Age     BMI       Waist  Total_Record With_Includes Label
0   18  BMI<18     Waist<0             0          None     N
1   18  BMI<18   Waist<0<3            20          None     N
2   18  BMI<18   Waist<3<8            20          None     M
3   18  BMI<18  Waist<8<12             0          None     0